<div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 text-center mx-auto">
                <span class="caption text-white">Testimonials</span>
                <h2 class=" text-center mb-5 text-white">Happy <strong>Clients</strong></h2>
              </div>
            </div>


            <div class="owl-slide owl-carousel owl-testimonial">

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Sequele Map</h3>
                    <span>Professional Table Reader</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo; I've been a loyal customer of this e-commerce site for a while now, and they never disappoint. The shipping is incredibly fast, and their customer service team is always ready to assist with any inquiries.&rdquo;</p>
                </div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Travis Jenkins</h3>
                    <span>Integration and Unit Tester</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;Whether I'm looking for electronics, clothing, or home decor, I can always find high-quality items at competitive prices. &rdquo;</p>
                </div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Binarie Ninja</h3>
                    <span>Expert in Going in Reverse</span>
                  </div>
                </div>
<div>
                  <p>&ldquo;They deliver what they promise, and the products always match the descriptions.&rdquo;</p>
                </div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Guard Stack</h3>
                    <span>Bouncer</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;Browsing through categories and making purchases is a breeze. The website's design enhances the overall shopping experience.&rdquo;</p>
                </div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Fuzzy Lop</h3>
                    <span>Repetative Tester</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;The regular notifications about ongoing offers are helpful, ensuring I never miss out on a great deal.&rdquo;</p>
</div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>John Ripper</h3>
                    <span>Expert Guesser</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;They frequently run sales and promotions, allowing me to buy high-quality products at affordable prices.&rdquo;</p>
                </div>
              </div>

            </div>

          </div>
        </div>
